*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
.idea/

app/full/release/output.json

app/full/release/app-full-release.apk

app/src/full/java/com/baruckis/kriptofolio/utilities/ConstantsFlavor.kt
